<div class="main">
  <p>You have an appointment with ....</p>
  <p class="jp">担当者をお選びください</p>
    <table>
    <tr>
    <td><%= link_to image_tag('Saito.png', :class => "link2"),'call?n=Saito' %></td>
    <td><%= link_to image_tag('Takagi.png',class: "link2 modal-open")%></td>
    <td><%= link_to image_tag('Shimura.png', :class => "link2"), 'call?n=Shimura' %></td>
    <td><%= link_to image_tag('Takahashi.png', :class => "link2"),'call?n=Takahashi' %></td>
    </tr>
    <tr class="name">
    <td><p>Saito</p></td>
    <td><p>Takagi</p></td>
    <td><p>Shimura</p></td>
    <td><p>Takahashi</p></td>
    </tr>
  　<tr >
    <td><%= link_to image_tag('Tokuta.png', :class => "link2"), 'call?n=Tokuta' %></td>
    <td><%= link_to image_tag('Kikuchi.png', :class => "link2"), 'call?n=Kikuchi' %></td>
    <td><%= link_to image_tag('Matsuura.png', :class => "link2"),'call?n=Matsuura' %></td>
    <td><%= link_to image_tag('yosaku.png', :class => "link2"), 'call?n=Others' %></td>
    <tr class="name">
    <td><p>Tokuta</p></td>
    <td><p>Kikuchi</p></td>
    <td><p>Matsuura</p></td>
    <td><p>Others</p></td>
    </tr>
    </table>
    <a class="modal-open words">クリックするとモーダルウィンドウを開きます。</a>
    <div class="modal">
    <%= image_tag 'Takagi.png', :class => "link" %>

    <div class="words">
    <%= link_to 'はい','call?n=Takagi',class: "button-link" %>
    <a id="modal-close" class="button-link">いいえ</a>
    </div>
    </div>
</div>
