<meta http-equiv="Refresh" content="12;URL=page1">
<div class="main">
  <p>You have an appointment with ....</p>
  <p class="jp">担当者をお選びください</p>
    <table>
    <tr>
    <td><%= link_to image_tag('saito.png', :class => "link2"),'call?n=k.saito' %></td>
    <td><%= link_to image_tag('tokuta.png', :class => "link2"), 'call?n=a.tokuta' %></td>
    <td><%= link_to image_tag('takahashi.png', :class => "link2"), 'call?n=noriyoshitakahashi' %></td>
    <td><%= link_to image_tag('masuhira.png', :class => "link2"),'call?n=m.masuhira' %></td>
    <td><%= link_to image_tag('ikeda.png', :class => "link2"),'call?n=a.ikeda' %></td>
    </tr>
    <tr class="name">
    <td><p>Saito</p></td>
    <td><p>Tokuta</p></td>
    <td><p>Takahashi</p></td>
    <td><p>Masuhira</p></td>
    <td><p>Ikeda</p></td>
    </tr>
  　<tr class="test" >
    <td><%= link_to image_tag('shimura.png', :class => "link2"), 'call?n=shimura' %></td>
    <td><%= link_to image_tag('sumitani.png', :class => "link2"), 'call?n=h.sumitani' %></td>
    <td><%= link_to image_tag('ueda.png', :class => "link2"),'call?n=m.ueda' %></td>
    <td><%= link_to image_tag('chiba.png', :class => "link2"), 'call?n=s.chiba' %></td>
    <td><%= link_to image_tag('takeda.png', :class => "link2"), 'call?n=k.takeda' %></td>
    <tr class="name">
    <td><p>Shimura</p></td>
    <td><p>Sumitani</p></td>
    <td><p>Ueda</p></td>
    <td><p>Chiba</p></td>
    <td><p>Takeda</p></td>
    </tr>
    </table>

</div>
