<meta http-equiv="Refresh" content="8;URL=page1">
<div class="main">
  <p>You have an appointment with ....</p>
  <p class="jp">担当者をお選びください</p>
    <table>
    <tr>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"),'call?n=Saito' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Tokuta' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Takahashi' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"),'call?n=Masuhira' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"),'call?n=Ikeda' %></td>
    </tr>
    <tr class="name">
    <td><p>Saito</p></td>
    <td><p>Tokuta</p></td>
    <td><p>Takahashi</p></td>
    <td><p>Masuhira</p></td>
    <td><p>Ikeda</p></td>
    </tr>
  　<tr class="test" >
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Shimura' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Sumitani' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"),'call?n=Ueda' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Chiba' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Takeda' %></td>
    <tr class="name">
    <td><p>Shimura</p></td>
    <td><p>Sumitani</p></td>
    <td><p>Ueda</p></td>
    <td><p>Chiba</p></td>
    <td><p>Takeda</p></td>
    </tr>
    </table>

</div>
