<div class="main">
  <p>You have an appointment with ....</p>
  <p class="jp">担当者をお選びください</p>
  <div class="button2">
    <table>
    <tr>
    <td><%= link_to image_tag('Saito.png', :class => "link2"),'call', name: 'Saito' %></td>
    <td><%= link_to image_tag('Takagi.png', :class => "link2"), 'call', name: 'Takagi' %></td>
    <td><%= link_to image_tag('Shimura.png', :class => "link2"), 'call', name: 'Shimura' %></td>
    <td><%= link_to image_tag('Takahashi.png', :class => "link2"),'call', name: 'Takahashi' %></td>
    </tr>
    <tr>
    <td>Saito</td>
    <td>Takagi</td>
    <td>Shimura</td>
    <td>Takahashi</td>
    </tr>
  　<tr>
    <td><%= link_to image_tag('Tokuta.png', :class => "link2"), 'call', name: 'Tokuta' %></td>
    <td><%= link_to image_tag('Kikuchi.png', :class => "link2"), 'call', name: 'Kikuchi' %></td>
    <td><%= link_to image_tag('Matsuura.png', :class => "link2"),'call', name: 'matsuura' %></td>
    <td><%= link_to image_tag('yosaku.png', :class => "link2"), 'call', name: 'Others' %></td>
    <tr>
    <td>Tokuta</td>
    <td>Kikuchi</td>
    <td>Matsuura</td>
    <td>Others</td>
    </tr>
    </table>
  </div>
</div>
