<div class="main">
  <p>You have an appointment with ....</p>
  <p class="jp">担当者をお選びください</p>
  <div class="button2">
    <%= link_to image_tag('Saito.png', :class => "link2"),'call?n=Saito' %>
    <%= link_to image_tag('Takagi.png', :class => "link2"), 'call?n=Takagi' %>
    <%= link_to image_tag('Shimura.png', :class => "link2"), 'call?n=Shimura' %>
    <%= link_to image_tag('Takahashi.png', :class => "link2"),'call?n=Takahashi' %>
    <%= link_to image_tag('Tokuta.png', :class => "link2"), 'call?n=Tokuta' %>
    <%= link_to image_tag('Kikuchi.png', :class => "link2"), 'call?n=Kikuchi' %>
    <%= link_to image_tag('Matsuura.png', :class => "link2"),'call?n=matsuura' %>
    <%= link_to image_tag('yosaku.png', :class => "link2"), 'call?n=Others' %>
  </div>
</div>
