<html>

    <div class="main">
      <p>You have an appointment is ....</p>
      <p>担当者をお選びください</p>

      <div class="button2">
        <%= link_to image_tag('visit_500.png', :class => "link2"),'Call?n=Saito' %>
        <%= link_to image_tag('inter_500.png', :class => "link2"), 'Call?n=Takagi' %>
        <%= link_to image_tag('others_500.png', :class => "link2"), 'Call?n=Shimura' %>
        <%= link_to image_tag('visit_500.png', :class => "link2"),'Call?n=Takahashi' %>
        <%= link_to image_tag('inter_500.png', :class => "link2"), 'Call?n=Tokuta' %>
        <%= link_to image_tag('others_500.png', :class => "link2"), 'Call?n=Kikuchi' %>
        <%= link_to image_tag('visit_500.png', :class => "link2"),'Call?n=matsuura' %>
        <%= link_to image_tag('inter_500.png', :class => "link2"), 'Call?n=Others' %>

      </div>
    </div>

  </body>
</html>
